# Custom additions
.DS_Store
02_Annotate-manual
AuxiliaryFiles/
AnalysisPeter/

# History files
.Rhistory

# R Environment Variables and R project files for Terra
.Renviron
.Rproj.user
*.Rproj

# Python environment for starcat
.venv/