# Custom additions
.DS_Store
.qodo
gs/
AuxiliaryFiles/
02_Annotate-manual
08_Souporcell/AuxiliaryFiles/
AnalysisPeter/

# History files
.Rhistory

# R Environment Variables
.Renviron

# Python environment for starcat
.venv/